.UserPromo-badge {
  position: absolute;
  margin-left: -70px;
  margin-top: 60px;
  text-align: center;
  width: 56px;

  @media @phone {
    float: right;
    position: relative;
    margin-top: 5px;
    width: 55px;
    text-align: center;
  }

  .badge {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--heading-color);
    padding: 2px 6px;
    font-size: 12px;
  }
}
